.questionaire {
    text-align: left;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.questionaire .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.questionaire .question-part{
    text-align: left;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.questionaire .answer-bar {
    display: inline-flex;
    width: 600px;
    margin-left: 400px;
    margin-top: 200px;
    align-items:center;
    padding: 0 0 10px 0;
}

.questionaire .form {
    margin-left: 50px;
}