@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./style/App.css";
@import "./style/Footer.css";
@import "./style/Header.css";
@import "./style/Login.css";
@import "./style/Main.css";
@import "./style/Questionnaire.css";
@import "./style/Home.css";
@import "./style/ExamList.css";
@import "./style/ExamPage.css";
@import "./style/ReportPage.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
